#navigation.navbar-fixed-top
  .container
    .dropdown.float-right
      .navigation_list.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
        = fa_icon "bars", class: "home_bar"
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to "ログアウト", logout_path, method: "delete"
#intro.slide.story
  .container
    #home-row-1.row.clearfix
      .col-12
        %h1.font-semibold
          Fight of M
        %h4.font-thin
          自分の
          %span.font-semibold 目標を
          達成しろ
        %br/
        %br/
    #home-row-2.row.clearfix
      .col-12.col-sm-4
        .smoothscroll.navigation-slide-a
          .home-hover.navigation-slide
            = link_to "", messages_path
            .home-icon
              = fa_icon 'users', class: "home_icon_link"
          %span Communication
          -# %span 筋肉の自慢をして下さい
      .col-12.col-sm-4
        .smoothscroll.navigation-slide-a
          .home-hover.navigation-slide
            = link_to "", tasks_path
            .home-icon
              = fa_icon 'check-circle', class: "home_icon_link"
        %span Training To Do
        -# %span 今日の筋トレ
      .col-12.col-sm-4
        .smoothscroll.navigation-slide-a
          .home-hover.navigation-slide
            = link_to "", maps_path
            .home-icon
              = fa_icon 'search', class: "home_icon_link"
        %span Find your GYM
        -# %span 近くのジムを探そう
