#navigation.navbar-fixed-top
  .container
    .dropdown
      .navigation_list.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
        = fa_icon "bars", class: "home_bar"
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to "ログアウト", destroy_user_session_path, method: :delete
#intro.slide.story{"data-slide" => "1"}
  .container
    #home-row-1.row.clearfix
      .col-12
        %h1.font-semibold
          Fight of M
        %h4.font-thin
          自分の
          %span.font-semibold 目標を
          達成しろ
        %br/
        %br/
      / /col-12
    / /row
    #home-row-2.row.clearfix
      .col-12.col-sm-4
        %a.smoothscroll.navigation-slide-a{:href => "#portfolio"}
          .home-hover.navigation-slide
            %img{:src => "img/s02.png"}/
          %span 筋肉の自慢をして下さい
          = link_to "Communication", messages_path
      .col-12.col-sm-4
        %a.smoothscroll.navigation-slide-a{:href => "#process"}
          .home-hover.navigation-slide
            %img{:src => "img/s01.png"}/
          %span 今日の筋トレ
          = link_to "Training To Do", tasks_path
      .col-12.col-sm-4
        %a.smoothscroll.navigation-slide-a{:href => "#clients"}
          .home-hover.navigation-slide
            %img{:src => "img/s03.png"}/
          %span 近くのジムを探そう
          = link_to "Find your GYM", maps_path